<div>
  <h1>Kendo Learning</h1>
  <div class="container">
    <div class="course-container">
      <div class="course-thumbnail">
        <img src="../assets/angular.jpeg"/>
        <div class="course-status">
          New
        </div>
      </div>
      <h3 class="title">Angular 17</h3>
      <div class="course-footer">
        <span>🕧 3h 00m</span>
        <span>5 ⭐</span>
      </div>
    </div>
    <div class="course-container">
      <div class="course-thumbnail">
        <img src="../assets/theme-builder.jpeg"/>
        <div class="course-status">
          New
        </div>
      </div>
      <h3 class="title">ThemeBuilder</h3>
      <div class="course-footer">
        <span>🕧 3h 00m</span>
        <span>5 ⭐</span>
      </div>
    </div>
  </div>

</div>
